<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Register</title>
</head>
<body>

<form method="post" th:action="@{/register}" th:object="${formReg}">

    <div>
        <input type="text" th:field="*{username}">
    </div>
<!--    <div>-->
<!--        th:if="${#fields.hasErrors('username')}" th:text="${#fields.errors('username')}">-->
<!--        Invalid field value-->
<!--    </div>-->

    <div>
        <input type="text" th:field="*{password}"
    </div>

    <div>
        <input type="text" th:field="*{firstName}"
    </div>

    <div>
        <input type="text" th:field="*{lastName}"
    </div>

    <div>
        <input type="submit" value="Zarejestruj"
    </div>

</form>

</body>
</html>